
<div class="wrapper clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<h3>~ found ~ adopted ~ revivor ~</h3>
		<hr>
		<p>I'm just a normal guy believing in a Life changing God. I was a 'first world' orphan at the age of 15 and now adopted by God. I am married to my amazing wife Corrie. I am a Father of four. I am a follower of Christ. I am a Pastor called by God. I am a church planter by the grace of God.</p>
		<p>By day I work as a pastor, by night I work as a front-end dev / designer for <a href="#">revivedesigngroup</a>.</p>
		<h3>I exist to bring the Life of Christ to others <br>
~ About His Kingdom Come ~</h3>

	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>

</div>